body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0px;
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0px auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
  color: #f1356f;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color:#f1356d ;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog_preview{
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: 1px solid #fafafa;
}
.blog_preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog_preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog_preview a{
  text-decoration: none;
}
.blog-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0px;
}
.blog-details button{
  background-color: #f1356d;
  color: #fff;
  border: 0px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
  background-color: #f1356d;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}